<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blades in the Dark Character Sheet</title>
	<script type="text/javascript" src="/vue.js"></script>
	<script type="text/javascript" src="/main.js"></script>
	<link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
	<div id="app">
		<ul id="character-select">
			<li v-for="(character, index) in characters" v-on:click="currentCharacter = index" v-bind:key="index" v-bind:class="index === currentCharacter ? 'current' : ''">
				{{character.fullName}}
			</li>
			<li v-on:click="addCharacter">+</li>
		</ul>
		<div id="character-sheet">
			<section>
				<div class="spaced-row">
					<h1>Blades in the Dark</h1>
					<div id="status-indicator" v-if="!errorMessage && saveTimer">Saving...</div>
					<div id="status-indicator" v-if="!errorMessage && !saveTimer">Saved</div>
					<div id="error-message" v-if="errorMessage">Error: {{errorMessage}}</div>
				</div>
				<div class="row">
					<div class="basic-field">
						<label for="character-name">Name</label>
						<input type="text" id="character-name" v-model="characters[currentCharacter].fullName" />
					</div>
					<div class="basic-field">
						<label for="character-alias">Alias</label>
						<input type="text" id="character-alias" v-model="characters[currentCharacter].alias" />
					</div>
				</div>
				
				<div class="basic-field wide-basic-field">
					<label for="character-look">Look</label>
					<input type="text" id="character-look" v-model="characters[currentCharacter].look" />
				</div>
				
				<div class="basic-field wide-basic-field">
					<label for="character-heritage">Heritage</label>
					<div class="row">
						<select v-model="characters[currentCharacter].heritageType">
							<option value="akoros">Akoros</option>
							<option value="dagger-isles">The Dagger Isles</option>
							<option value="iruvia">Iruvia</option>
							<option value="severos">Severos</option>
							<option value="skovlan">Skovlan</option>
							<option value="tycheros">Tycheros</option>
						</select>
						<input type="text" id="character-heritage" v-model="characters[currentCharacter].heritageDescription" />
					</div>
				</div>
				
				<div class="basic-field wide-basic-field">
					<label for="character-background">Background</label>
					<div class="row">
						<select v-model="characters[currentCharacter].backgroundType">
							<option value="academic">Academic</option>
							<option value="labor">Labor</option>
							<option value="law">Law</option>
							<option value="trade">Trade</option>
							<option value="military">Military</option>
							<option value="noble">Noble</option>
							<option value="underworld">Underworld</option>
						</select>
						<input type="text" id="character-background" v-model="characters[currentCharacter].backgroundDescription" />
					</div>
				</div>
			</section>
			
			<section>
				<div class="row">
					<div class="row">
						<h2>Stress</h2>
						
					</div>
					
					<div class="row">
						<h2>Trauma</h2>
					</div>
				</div>
			</section>
			
			<section>
				<div class="row">
					<div>
						<h2>Harm</h2>
					</div>
					<div>
						<section>
							<h3>Healing</h3>
							<clock v-bind:max="4" v-model="characters[currentCharacter].healingClock" v-bind:size="30" />
						</section>
						
						<section>
							<h3>Armor Uses</h3>
							<div class="spaced-row">
								<label for="armor-checkbox">Armor</label>
								<input id="armor-checkbox" type="checkbox" v-model="characters[currentCharacter].usesArmor" />
							</div>
							<div class="spaced-row">
								<label for="heavy-armor-checkbox">Heavy Armor</label>
								<input id="heavy-armor-checkbox" type="checkbox" v-model="characters[currentCharacter].usesHeavyArmor" />
							</div>
							<div class="spaced-row">
								<label for="special-armor-checkbox">Special Armor</label>
								<input id="special-armor-checkbox" type="checkbox" v-model="characters[currentCharacter].usesSpecialArmor" />
							</div>
						</section>
					</div>
				</div>
			</section>
			
			<section>
				<h2>Earning XP</h2>
				<ul>
					<li>Every time you roll a desperate action, mark XP in that action's attribute.</li>
					<li>At the end of each session, for each item below, mark 1 XP (in your playbook or an attribute) or 2 XP if that item occurred multiple times.</li>
					<li>You address a challenge with <input type="text" v-model="characters[currentCharacter].xpChallengeType" /></li>
					<li>You expressed your beliefs, drives, heritage, or background.</li>
					<li>You struggled with issues from your vice or traumas during the session.</li>
				</ul>
			</section>
			
			<section>
				<h2>Friends and Enemies</h2>
				
			</section>
			
			<section>
				<h1>Playbook</h1>
				<section>
					<div class="spaced-row">
						<h2>Special Abilities</h2>
						<xp-ticks max="8" v-model="characters[currentCharacter].specialAbilityXP" />
					</div>
				</section>
			</section>
			
			<section>
				<h2>Insight</h2>
			</section>
			
			<section>
				<h2>Prowess</h2>
			</section>
			
			<section>
				<h2>Resolve</h2>
			</section>
		</div>
	</div>
</body>
</html>