<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blades in the Dark Character Sheet</title>
	<script type="text/javascript" src="/vue.js"></script>
	<script type="text/javascript" src="/main.js"></script>
	<link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
	<div id="app">
		<ul id="character-select">
			<li v-for="(character, index) in characters" v-on:click="currentCharacter = index" v-bind:key="index" v-bind:class="index === currentCharacter ? 'current' : ''">
				{{character.fullName}}
			</li>
			<li v-on:click="addCharacter">+</li>
		</ul>
		<main>
			<div id="top-bar">
				<h1>Blades in the Dark</h1>
				<div id="status-indicator" v-if="!errorMessage && saveTimer">Saving...</div>
				<div id="status-indicator" v-if="!errorMessage && !saveTimer">Saved</div>
				<div id="error-message" v-if="errorMessage">Error: {{errorMessage}}</div>
			</div>
			<div id="character-sheet">
				<section>
					<div class="row">
						<div class="basic-field">
							<label for="character-name">Name</label>
							<input type="text" id="character-name" v-model="characters[currentCharacter].fullName" />
						</div>
						<div class="basic-field">
							<label for="character-alias">Alias</label>
							<input type="text" id="character-alias" v-model="characters[currentCharacter].alias" />
						</div>
					</div>
					
					<div class="row">
						<div class="basic-field">
							<label for="playbook-select">Playbook</label>
							<select id="playbook-select" v-model="characters[currentCharacter].playbook">
								<option value="cutter">Cutter</option>
								<option value="hound">Hound</option>
								<option value="leech">Leech</option>
								<option value="lurk">Lurk</option>
								<option value="slide">Slide</option>
								<option value="spider">Spider</option>
								<option value="whisper">Whisper</option>
							</select>
						</div>
						<div class="basic-field">
							<label for="character-crew">Crew</label>
							<input type="text" id="character-crew" v-model="characters[currentCharacter].crew" />
						</div>
					</div>
			
					<div class="basic-field">
						<label for="character-look">Look</label>
						<input type="text" id="character-look" v-model="characters[currentCharacter].look" />
					</div>
			
					<div class="basic-field">
						<label for="character-heritage">Heritage</label>
						<div class="row">
							<select v-model="characters[currentCharacter].heritageType">
								<option value="akoros">Akoros</option>
								<option value="dagger-isles">The Dagger Isles</option>
								<option value="iruvia">Iruvia</option>
								<option value="severos">Severos</option>
								<option value="skovlan">Skovlan</option>
								<option value="tycheros">Tycheros</option>
							</select>
							<input type="text" id="character-heritage" v-model="characters[currentCharacter].heritageDescription" />
						</div>
					</div>
			
					<div class="basic-field wide-basic-field">
						<label for="character-background">Background</label>
						<div class="row">
							<select v-model="characters[currentCharacter].backgroundType">
								<option value="academic">Academic</option>
								<option value="labor">Labor</option>
								<option value="law">Law</option>
								<option value="trade">Trade</option>
								<option value="military">Military</option>
								<option value="noble">Noble</option>
								<option value="underworld">Underworld</option>
							</select>
							<input type="text" id="character-background"
								v-model="characters[currentCharacter].backgroundDescription" />
						</div>
					</div>
				</section>
			
				<section>
					<div class="spaced-row">
						<div class="row">
							<h2 style="margin-right: 0.5em;">Stress</h2>
							<xp-ticks max="9" v-model="characters[currentCharacter].stress"></xp-ticks>
						</div>
			
						<div class="spaced-row">
							<h2>Trauma</h2>
							<trauma-select
								v-bind:options="['Cold', 'Haunted', 'Obsessed', 'Paranoid', 'Reckless', 'Soft', 'Unstable', 'Vicious']"
								v-model="characters[currentCharacter].traumas"></trauma-select>
						</div>
					</div>
				</section>
			
				<section>
					<div class="spaced-row">
						<div>
							<div class="spaced-row">
								<h2>Harm</h2>
								<button v-on:click="healHarms" v-bind:disabled="characters[currentCharacter].healingClock < 4">Heal</button>
							</div>
							<table>
								<thead>
									<tr>
										<th>Level</th>
										<th>Description</th>
										<th>Effect</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(harm, index) in characters[currentCharacter].harms">
										<td>
											<select v-model="characters[currentCharacter].harms[index].level">
												<option value="3">3</option>
												<option value="2">2</option>
												<option value="1">1</option>
											</select>
										</td>
										<td>
											<input type="text" v-model="characters[currentCharacter].harms[index].description" />
										</td>
										<td>
											<input type="text" v-model="characters[currentCharacter].harms[index].effect" />
										</td>
										<td><button v-on:click="deleteHarm(index)">&times;</button></td>
									</tr>
								</tbody>
							</table>
							<div class="spaced-row">
								<button v-on:click="sortHarms">Sort Harms</button>
								<button v-on:click="addHarm">Add Harm</button>
							</div>
						</div>
						<div>
							<section style="width: 8em;">
								<h3>Healing</h3>
								<clock v-bind:max="4" v-model="characters[currentCharacter].healingClock" v-bind:size="30"></clock>
							</section>
			
							<section style="width: 10em;">
								<h3>Armor Uses</h3>
								<div class="spaced-row">
									<label for="armor-checkbox">Armor</label>
									<input id="armor-checkbox" type="checkbox" v-model="characters[currentCharacter].usesArmor" />
								</div>
								<div class="spaced-row">
									<label for="heavy-armor-checkbox">Heavy Armor</label>
									<input id="heavy-armor-checkbox" type="checkbox"
										v-model="characters[currentCharacter].usesHeavyArmor" />
								</div>
								<div class="spaced-row">
									<label for="special-armor-checkbox">Special Armor</label>
									<input id="special-armor-checkbox" type="checkbox"
										v-model="characters[currentCharacter].usesSpecialArmor" />
								</div>
							</section>
						</div>
					</div>
				</section>
			
				<section>
					<h2>Earning XP</h2>
					<ul>
						<li>Every time you roll a desperate action, mark XP in that action's attribute.</li>
						<li>At the end of each session, for each item below, mark 1 XP (in your playbook or an attribute) or 2 XP if
							that item occurred multiple times.</li>
						<li>You address a challenge with <input type="text"
								v-model="characters[currentCharacter].xpChallengeType" /></li>
						<li>You expressed your beliefs, drives, heritage, or background.</li>
						<li>You struggled with issues from your vice or traumas during the session.</li>
					</ul>
				</section>
			
				<section>
					<div class="spaced-row">
						<h2>Friends</h2>
						<button v-on:click="characters[currentCharacter].friends.push('')">Add Friend</button>
					</div>
					<ul class="frenemies">
						<li v-for="(friend, index) in characters[currentCharacter].friends">
							<input type="text" v-model="characters[currentCharacter].friends[index]" />
							<button v-on:click="characters[currentCharacter].friends.splice(index, 1)">&times;</button>
						</li>
					</ul>
				</section>
			
				<section>
					<div class="spaced-row">
						<h2>Enemies</h2>
						<button v-on:click="characters[currentCharacter].enemies.push('')">Add Enemy</button>
					</div>
					<ul class="frenemies">
						<li v-for="(friend, index) in characters[currentCharacter].enemies">
							<input type="text" v-model="characters[currentCharacter].enemies[index]" />
							<button v-on:click="characters[currentCharacter].enemies.splice(index, 1)">&times;</button>
						</li>
					</ul>
				</section>
			
				<section>
					<div class="spaced-row">
						<h2>Special Abilities</h2>
						<button v-if="characters[currentCharacter].specialAbilityXP >= 8" v-on:click="addSpecialAbility">Add Special
							Ability</button>
						<xp-ticks max="8" v-model="characters[currentCharacter].specialAbilityXP"></xp-ticks>
					</div>
					<div class="special-ability" v-for="(ability, index) in characters[currentCharacter].specialAbilities">
						<textarea v-model="characters[currentCharacter].specialAbilities[index]"></textarea>
						<button v-on:click="deleteSpecialAbility(index)">&times;</button>
					</div>
				</section>
			
				<section class="spaced-row">
					<div>
						<h3>Coin</h3>
						<coin-indicator max="4" v-model="characters[currentCharacter].coin"></coin-indicator>
					</div>
					<div>
						<h3>Stash</h3>
						<coin-indicator max="10" v-for="(line, index) in characters[currentCharacter].stash" v-bind:key="index"
							v-model="characters[currentCharacter].stash[index]"></coin-indicator>
					</div>
				</section>
			
				<section>
					<div class="spaced-row">
						<h2>Insight</h2>
						<xp-ticks max="6" v-model="characters[currentCharacter].insightXP"></xp-ticks>
					</div>
					<action-rating name="Hunt" v-model="characters[currentCharacter].actionRatings.hunt"></action-rating>
					<action-rating name="Study" v-model="characters[currentCharacter].actionRatings.study"></action-rating>
					<action-rating name="Survey" v-model="characters[currentCharacter].actionRatings.survey"></action-rating>
					<action-rating name="Tinker" v-model="characters[currentCharacter].actionRatings.tinker"></action-rating>
				</section>
			
				<section>
					<div class="spaced-row">
						<h2>Prowess</h2>
						<xp-ticks max="6" v-model="characters[currentCharacter].prowessXP"></xp-ticks>
					</div>
					<action-rating name="Finesse" v-model="characters[currentCharacter].actionRatings.finesse"></action-rating>
					<action-rating name="Prowl" v-model="characters[currentCharacter].actionRatings.prowl"></action-rating>
					<action-rating name="Skirmish" v-model="characters[currentCharacter].actionRatings.skirmish"></action-rating>
					<action-rating name="Wreck" v-model="characters[currentCharacter].actionRatings.wreck"></action-rating>
				</section>
			
				<section>
					<div class="spaced-row">
						<h2>Resolve</h2>
						<xp-ticks max="6" v-model="characters[currentCharacter].resolveXP"></xp-ticks>
					</div>
					<action-rating name="Attune" v-model="characters[currentCharacter].actionRatings.attune"></action-rating>
					<action-rating name="Command" v-model="characters[currentCharacter].actionRatings.command"></action-rating>
					<action-rating name="Consort" v-model="characters[currentCharacter].actionRatings.consort"></action-rating>
					<action-rating name="Sway" v-model="characters[currentCharacter].actionRatings.sway"></action-rating>
				</section>
			
				<section>
					<div class="spaced-row">
						<h2>Equipment</h2>
						<div>
							<span v-bind:class="loadClass">Load: {{currentLoad}} out of&nbsp;</span>
							<select v-model="characters[currentCharacter].maxLoad">
								<option value="3">3 (Light)</option>
								<option value="5">5 (Normal)</option>
								<option value="7">7 (Heavy)</option>
							</select>
						</div>
						<button v-on:click="addItem">Add Item</button>
					</div>
					<ul class="item-list">
						<li v-for="(item, index) in characters[currentCharacter].items">
							<input type="checkbox" v-model="characters[currentCharacter].items[index].held" />
							<input type="text" class="item-name" placeholder="Item name"
								v-model="characters[currentCharacter].items[index].itemName" />
							<select v-model="characters[currentCharacter].items[index].loadSlots">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<button v-on:click="deleteItem(index)">&times;</button>
						</li>
					</ul>
				</section>
			
				<section>
					<div class="spaced-row">
						<h2>Projects</h2>
						<button v-on:click="addProject">Add Project</button>
					</div>
					<div class="project row" v-for="(project, index) in characters[currentCharacter].projects" v-bind:key="index">
						<div>
							<clock v-bind:max="project.clockSegments"
								v-model="characters[currentCharacter].projects[index].progress">
							</clock>
							<div>Progress</div>
							<div>
								{{project.progress}} out of
								<select v-model="characters[currentCharacter].projects[index].clockSegments">
									<option value="4">4</option>
									<option value="6">6</option>
									<option value="8">8</option>
								</select>
							</div>
						</div>
						<div>
							<div><input type="text" v-model="characters[currentCharacter].projects[index].projectName"
									placeholder="Project name" /></div>
							<div><textarea v-model="characters[currentCharacter].projects[index].description"
									placeholder="Description"></textarea></div>
						</div>
					</div>
				</section>
			
				<section>
					<h2>Settings</h2>
					<button v-on:click="deleteCharacter">Delete Character</button>
				</section>
			</div>
		</main>
	</div>
</body>
</html>