* { box-sizing: border-box; }

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


main
{
	display: flex;
	flex-direction: row;
	width: 99%;
	height: 99%;
	margin-top: 3.5em;
}


#top-bar
{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 3em 0.5em 1em;
	background-color: black;
	color: white;
	z-index: 9001;
}


#hamburger
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 1.75em;
	height: 1.75em;
}

.hamburger-line
{
	width: 100%;
	height: 0.2em;
	background-color: white;
}


#main-menu
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 1px dotted #ddd;
	position: fixed;
	background-color: white;
	padding-top: 3.5em;
	z-index: 9000;
	top: 0;
	left: 0;
	height: 100%;
	width: 20em;
}

#import-export
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 1em;
	height: 5em;
}

#import-export label, #import-export a
{
	color: black;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

#data-import
{
	opacity: 0;
	height: 0;
}

#credits
{
	margin: 1em;
	font-size: small;
}

#character-select
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding: 0 0.5em 0 0;
	flex-grow: 1;
	overflow-y: auto;
}

#character-select li
{
	margin: 0.1em;
	padding: 0.5em 1em;
	border-radius: 0.25em;
	background-color: #eee;
	text-align: center;
	cursor: pointer;
}

#character-select li.current
{
	background-color: #333;
	color: #eee;
	font-weight: bold;
}


#character-sheet
{
	padding: 0 0.5em;
	width: 100%;
}

/* Split the character sheet into columns if the screen is wide enough. */
@media (min-width: 14in)
{
	.character-sheet-column-set
	{
		display: flex;
		flex-direction: row;
		margin-bottom: 2em;
	}
	
	.character-sheet-first-column
	{
		flex-basis: 30em;
	}
	
	.character-sheet-second-column
	{
		flex-grow: 35;
		flex-shrink: 35;
	}
	
	.character-sheet-third-column
	{
		flex-grow: 20;
		flex-shrink: 20;
	}
}


section
{
	border: 1px solid #eee;
	margin: 0 0 0.5em 0;
	padding: 0.5em;
	break-inside: avoid;
}

h1, h2, h3, h4, h5, h6
{
	padding: 0;
	margin: 0;
}

h1
{
	font-size: xx-large;
}


#status-indicator
{
	font-style: italic;
	font-size: small;
	padding: 0.5em;
}

#error-message
{
	font-weight: bold;
	color: red;
}


.row
{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.spaced-row
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.basic-field
{
	display: flex;
	flex-direction: column-reverse;
	margin: 0.2em;
	flex-grow: 1;
}

.basic-field input, .basic-field > select
{
	padding: 0.5em;
	border-radius: 0.3em;
	width: 100%;
}

.basic-field label
{
	font-size: x-small;
}

.centered
{
	text-align: center;
}



.xp-ticks
{
	display: flex;
	flex-direction: row;
	border-top: 0.75em solid black;
}

.xp-tick-active, .xp-tick-inactive
{
	width: 0.6em;
	height: 1.2em;
	border: 1px solid black;
	margin-right: 0.1em;
	margin-top: -0.35em;
	transform: skew(0, -20deg);
	cursor: pointer;
}

.xp-tick-active
{
	background-color: #a00;
}

.xp-tick-inactive
{
	background-color: white;
}


.clock
{
	border: 1px solid black;
	border-radius: 50%;
	width: 3em;
	height: 3em;
}


.action-rating
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.action-rating-bubble
{
	width: 0.6em;
	height: 0.6em;
	border: 1px solid gray;
	border-radius: 50%;
	margin: 0.2em;
}

.action-rating-bubble-active
{
	background-color: #a00;
}

.action-rating-bubble-first
{
	border-right: 1px solid black;
}

.action-rating-name
{
	margin-left: 0.25em;
}


.trauma-select
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 90%;
}

.trauma-select li
{
	padding: 0.1em;
	margin: 0.1em 0.2em;
	cursor: pointer;
	border: 1px solid transparent;
}

.trauma-select li.trauma-active
{
	border: 1px solid #a00;
}


table
{
	border-collapse: collapse;
	margin: 0.25em 0;
}

td, th
{
	border: 1px solid gray;
	padding: 0.2em;
}


.special-ability
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5em;
}

.special-ability textarea
{
	flex-grow: 1;
}

.special-ability button
{
	margin-left: 0.25em;
}


.frenemies
{
	list-style-type: none;
	padding: 0;
	margin: 0.5em 0;
}

.frenemies li
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.25em;
}

.frenemies li input
{
	flex-grow: 1;
	margin-right: 0.25em;
}


.overloaded
{
	color: red;
	font-weight: bold;
}

.fully-loaded
{
	color: #a40;
	font-weight: bold;
}


.item-list
{
	list-style-type: none;
	margin: 0.4em 0 0 0;
	padding: 0;
	width: 100%;
}

.item-list li
{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.item-list li *
{
	margin: 0.2em;
}

.item-name
{
	flex-grow: 1;
}


.coin-indicator
{
	display: flex;
	flex-direction: row;
	margin-bottom: 0.2em;
}

.coin-active, .coin-inactive
{
	width: 0.8em;
	height: 0.8em;
	border: 1px solid black;
	margin-right: 0.2em;
	cursor: pointer;
}

.coin-active
{
	background-color: #a00;
}

.coin-inactive
{
	background-color: white;
}


.project
{
	margin-top: 0.75em;
	padding-top: 0.75em;
	border-top: 1px dotted gray;
}

.project-text-fields
{
	flex-grow: 1;
	margin: 0 0.5em;
}

.project-text-fields *
{
	width: 100%;
	margin-bottom: 0.25em;
}

td input
{
	width: 100%;
}


/* Styles for small devices. */
@media (max-width: 8in)
{
	#main-menu
	{
		width: 100%;
	}
	
	h1
	{
		font-size: x-large;
	}
}
