* { box-sizing: border-box; }

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


#app
{
	display: flex;
	flex-direction: row;
	width: 99%;
	height: 99%;
}


#character-select
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding: 0 0.5em 0 0;
	border-right: 1px dotted #ddd;
	flex-basis: 16em;
}

#character-select li
{
	margin: 0.1em;
	padding: 0.5em 1em;
	border-radius: 0.25em;
	background-color: #eee;
	text-align: center;
	cursor: pointer;
}

#character-select li.current
{
	background-color: #333;
	color: #eee;
	font-weight: bold;
}


#character-sheet
{
	padding: 0 0.5em;
	width: 100%;
}

/* Split the character sheet into columns if the screen is wide enough. */
@media (min-width: 10in)
{
	#character-sheet
	{
		columns: 2;
	}
}


section
{
	border: 1px solid #eee;
	margin: 0 0 0.5em 0;
	padding: 0.5em;
	break-inside: avoid;
}

h1, h2, h3, h4, h5, h6
{
	padding: 0;
	margin: 0;
}

h1
{
	font-size: xx-large;
}


#status-indicator
{
	font-style: italic;
	font-size: small;
	padding: 0.5em;
}

#error-message
{
	font-weight: bold;
	color: red;
}


.row
{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.spaced-row
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.basic-field
{
	display: flex;
	flex-direction: column-reverse;
	margin: 0.2em;
	flex-grow: 1;
}

.basic-field input
{
	padding: 0.5em;
	border-radius: 0.3em;
	width: 100%;
}

.basic-field label
{
	font-size: x-small;
}




.xp-ticks
{
	display: flex;
	flex-direction: row;
	border-top: 0.75em solid black;
}

.xp-tick-active, .xp-tick-inactive
{
	width: 0.6em;
	height: 1.2em;
	border: 1px solid black;
	margin-right: 0.1em;
	margin-top: -0.35em;
	transform: skew(0, -20deg);
	cursor: pointer;
}

.xp-tick-active
{
	background-color: #a00;
}

.xp-tick-inactive
{
	background-color: white;
}


.clock
{
	border: 1px solid black;
	border-radius: 50%;
	width: 3em;
	height: 3em;
}


.action-rating
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.action-rating-bubble
{
	width: 0.5em;
	height: 0.5em;
	border: 1px solid gray;
	border-radius: 50%;
	margin: 0.2em;
}

.action-rating-bubble-active
{
	background-color: #a00;
}

.action-rating-bubble-first
{
	border-right: 1px solid black;
}

.action-rating-name
{
	margin-left: 0.25em;
}


.trauma-select
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 90%;
}

.trauma-select li
{
	padding: 0.1em;
	margin: 0.1em 0.2em;
	cursor: pointer;
	border: 1px solid transparent;
}

.trauma-select li.trauma-active
{
	border: 1px solid #a00;
}


table
{
	border-collapse: collapse;
	margin: 0.25em 0;
}

td, th
{
	border: 1px solid gray;
	padding: 0.2em;
}


.special-ability
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.special-ability textarea
{
	flex-grow: 1;
}

.special-ability button
{
	margin-left: 0.25em;
}


.frenemies
{
	list-style-type: none;
	padding: 0;
	margin: 0.5em 0;
}

.frenemies li
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.frenemies li input
{
	flex-grow: 1;
	margin-right: 0.25em;
}
